*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #343F4F;
}
.wrapper{
    display: inline-flex;
}
.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-txts li{
    color: #FC6D6D;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 1.5s steps(4) infinite;
}
@keyframes typing {
    100%{
        top: -360px;
    }
}
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35 0 35px;
    }
}